driving-IoT-bus-flow-management/nifi-driving-flow-management-template/Nifi_Flow.xml
<?xml version="1.0" ?>
<template encoding-version="1.0">
  <description></description>
  <groupId>16ec623d-015a-1000-f30c-4b220a83fc1a</groupId>
  <name>Nifi Flow</name>
  <snippet>
    <processGroups>
      <id>7de65e49-015a-1000-0000-000000000000</id>
      <parentGroupId>16ec623d-015a-1000-0000-000000000000</parentGroupId>
      <position>
        <x>0.0</x>
        <y>0.0</y>
      </position>
      <comments></comments>
      <contents>
        <connections>
          <id>dc5641fa-015a-1000-0000-000000000000</id>
          <parentGroupId>7de65e49-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>7de65e49-015a-1000-0000-000000000000</groupId>
            <id>d13c602b-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>success</selectedRelationships>
          <source>
            <groupId>7de65e49-015a-1000-0000-000000000000</groupId>
            <id>a81e20c6-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <connections>
          <id>dc565095-015a-1000-0000-000000000000</id>
          <parentGroupId>7de65e49-015a-1000-0000-000000000000</parentGroupId>
          <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
          <backPressureObjectThreshold>10000</backPressureObjectThreshold>
          <destination>
            <groupId>7de65e49-015a-1000-0000-000000000000</groupId>
            <id>7de712e5-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </destination>
          <flowFileExpiration>0 sec</flowFileExpiration>
          <labelIndex>1</labelIndex>
          <name></name>
          <selectedRelationships>matched</selectedRelationships>
          <source>
            <groupId>7de65e49-015a-1000-0000-000000000000</groupId>
            <id>d13c602b-015a-1000-0000-000000000000</id>
            <type>PROCESSOR</type>
          </source>
          <zIndex>0</zIndex>
        </connections>
        <processors>
          <id>a81e20c6-015a-1000-0000-000000000000</id>
          <parentGroupId>7de65e49-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>626.1035425162409</x>
            <y>0.5029877246164602</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Local Network Interface</key>
                <value>
                  <name>Local Network Interface</name>
                </value>
              </entry>
              <entry>
                <key>Port</key>
                <value>
                  <name>Port</name>
                </value>
              </entry>
              <entry>
                <key>Receive Buffer Size</key>
                <value>
                  <name>Receive Buffer Size</name>
                </value>
              </entry>
              <entry>
                <key>Max Size of Message Queue</key>
                <value>
                  <name>Max Size of Message Queue</name>
                </value>
              </entry>
              <entry>
                <key>Max Size of Socket Buffer</key>
                <value>
                  <name>Max Size of Socket Buffer</name>
                </value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>
                  <name>Character Set</name>
                </value>
              </entry>
              <entry>
                <key>Max Batch Size</key>
                <value>
                  <name>Max Batch Size</name>
                </value>
              </entry>
              <entry>
                <key>Message Delimiter</key>
                <value>
                  <name>Message Delimiter</name>
                </value>
              </entry>
              <entry>
                <key>Sending Host</key>
                <value>
                  <name>Sending Host</name>
                </value>
              </entry>
              <entry>
                <key>Sending Host Port</key>
                <value>
                  <name>Sending Host Port</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Local Network Interface</key>
              </entry>
              <entry>
                <key>Port</key>
                <value>8888</value>
              </entry>
              <entry>
                <key>Receive Buffer Size</key>
                <value>26214400 B</value>
              </entry>
              <entry>
                <key>Max Size of Message Queue</key>
                <value>10000</value>
              </entry>
              <entry>
                <key>Max Size of Socket Buffer</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>Character Set</key>
                <value>UTF-8</value>
              </entry>
              <entry>
                <key>Max Batch Size</key>
                <value>1</value>
              </entry>
              <entry>
                <key>Message Delimiter</key>
                <value>\n</value>
              </entry>
              <entry>
                <key>Sending Host</key>
              </entry>
              <entry>
                <key>Sending Host Port</key>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Listen Port</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.ListenUDP</type>
        </processors>
        <processors>
          <id>d13c602b-015a-1000-0000-000000000000</id>
          <parentGroupId>7de65e49-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1034.1067305355555</x>
            <y>392.39731832753273</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>Routing Strategy</key>
                <value>
                  <name>Routing Strategy</name>
                </value>
              </entry>
              <entry>
                <key>matched</key>
                <value>
                  <name>matched</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>Routing Strategy</key>
                <value>Route to Property name</value>
              </entry>
              <entry>
                <key>matched</key>
                <value>${VIN:isEmpty():not()}</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>If VIN empty</name>
          <relationships>
            <autoTerminate>false</autoTerminate>
            <name>matched</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>unmatched</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.standard.RouteOnAttribute</type>
        </processors>
        <processors>
          <id>7de712e5-015a-1000-0000-000000000000</id>
          <parentGroupId>7de65e49-015a-1000-0000-000000000000</parentGroupId>
          <position>
            <x>1345.8405909174544</x>
            <y>-3.4062558665104916</y>
          </position>
          <config>
            <bulletinLevel>WARN</bulletinLevel>
            <comments></comments>
            <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
            <descriptors>
              <entry>
                <key>bootstrap.servers</key>
                <value>
                  <name>bootstrap.servers</name>
                </value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>
                  <name>security.protocol</name>
                </value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
                <value>
                  <name>sasl.kerberos.service.name</name>
                </value>
              </entry>
              <entry>
                <key>ssl.context.service</key>
                <value>
                  <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                  <name>ssl.context.service</name>
                </value>
              </entry>
              <entry>
                <key>topic</key>
                <value>
                  <name>topic</name>
                </value>
              </entry>
              <entry>
                <key>acks</key>
                <value>
                  <name>acks</name>
                </value>
              </entry>
              <entry>
                <key>kafka-key</key>
                <value>
                  <name>kafka-key</name>
                </value>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>
                  <name>key-attribute-encoding</name>
                </value>
              </entry>
              <entry>
                <key>message-demarcator</key>
                <value>
                  <name>message-demarcator</name>
                </value>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>
                  <name>max.request.size</name>
                </value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>
                  <name>ack.wait.time</name>
                </value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>
                  <name>max.block.ms</name>
                </value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>
                  <name>partitioner.class</name>
                </value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>
                  <name>compression.type</name>
                </value>
              </entry>
            </descriptors>
            <executionNode>ALL</executionNode>
            <lossTolerant>false</lossTolerant>
            <penaltyDuration>30 sec</penaltyDuration>
            <properties>
              <entry>
                <key>bootstrap.servers</key>
                <value>nifinode1.example.com:6667</value>
              </entry>
              <entry>
                <key>security.protocol</key>
                <value>PLAINTEXT</value>
              </entry>
              <entry>
                <key>sasl.kerberos.service.name</key>
              </entry>
              <entry>
                <key>ssl.context.service</key>
              </entry>
              <entry>
                <key>topic</key>
                <value>obdReadings</value>
              </entry>
              <entry>
                <key>acks</key>
                <value>0</value>
              </entry>
              <entry>
                <key>kafka-key</key>
              </entry>
              <entry>
                <key>key-attribute-encoding</key>
                <value>utf-8</value>
              </entry>
              <entry>
                <key>message-demarcator</key>
              </entry>
              <entry>
                <key>max.request.size</key>
                <value>1 MB</value>
              </entry>
              <entry>
                <key>ack.wait.time</key>
                <value>5 secs</value>
              </entry>
              <entry>
                <key>max.block.ms</key>
                <value>30 sec</value>
              </entry>
              <entry>
                <key>partitioner.class</key>
                <value>org.apache.kafka.clients.producer.internals.DefaultPartitioner</value>
              </entry>
              <entry>
                <key>compression.type</key>
                <value>none</value>
              </entry>
            </properties>
            <runDurationMillis>0</runDurationMillis>
            <schedulingPeriod>0 sec</schedulingPeriod>
            <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
            <yieldDuration>1 sec</yieldDuration>
          </config>
          <name>Saving data to kafka topic</name>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>failure</name>
          </relationships>
          <relationships>
            <autoTerminate>true</autoTerminate>
            <name>success</name>
          </relationships>
          <style></style>
          <type>org.apache.nifi.processors.kafka.pubsub.PublishKafka</type>
        </processors>
      </contents>
      <name>Nifi Flow</name>
    </processGroups>
  </snippet>
  <timestamp>03/18/2017 13:48:50 IST</timestamp>
</template>